beautifulsoup4==4.9.3
certifi==2020.12.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
chardet==4.0.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
click==7.1.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
dotenv==0.0.5
google==3.0.0
gtfs-realtime-bindings==0.0.6
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
inky==1.1.1
numpy==1.19.4; python_version >= "3.6"
pillow==8.0.1; python_version >= "3.6"
protobuf3-to-dict==0.1.5
protobuf==3.14.0
pydantic==1.7.3; python_version >= "3.6"
pytz==2020.4
requests==2.25.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
smbus2==0.4.0
soupsieve==2.1; python_version >= "3.5"
spidev==3.5
underground==0.3.0
urllib3==1.26.2; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
